<div class="container d-flex justify-content-center p-3">
  <div class="row">
    <h1>Ask your coach a question</h1>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
    <form action="answer">
      <input type="text" name="ask">
      <input class = "btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>
</div>
